{% extends 'admin/base.html.twig' %}

{% block title %}Chambre ajout
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Chambre ajout</h1>
		{{ form_start(form) }}
        {{ form_errors(form) }}

		{{ form_row(form.titre) }}
		{{ form_row(form.description) }}
		{{ form_row(form.prixJournalier) }}
		{{ form_row(form.image) }}
		{{ form_row(form.isDisponible) }}

		<button type="submit" class="btn btn-success">Ajoutez la chambre</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
