{% extends 'admin/base.html.twig' %}

{% block title %}Sun and Fun - Listes des chambres
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1 class="my-4">Les Chambres</h1>
		<a href="{{ path('admin_chambre_create') }}" class="btn btn-primary">Ajoutez une chambre +</a>
		<table class="table table-hover mt-4">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titre</th>
					<th scope="col">Image</th>
					<th scope="col">Déscription</th>
					<th scope="col">Prix</th>
					<th scope="col">Disponibilité</th>
					<th scope="col" colspan="2">Date d'ajout</th>
				</tr>
			</thead>
			<tbody>
				{% for chambre in chambres %}
					<tr class="table-light">
						<th scope="row">{{ chambre.id }}</th>
						<td>{{chambre.titre}}</td>
						<td><img src="{{ asset("/uploads/" ~ chambre.image) }}" alt="{{chambre.titre}}" width="50"></td>
						<td>{{ chambre.description }}</td>
						<td>{{ chambre.prixJournalier }}€ /Nuit</td>
						<td>{{ chambre.isDisponible ? 'Disponible':'En attente' }}</td>
						<td>{{ chambre.createdAt|date("d/m/Y H:i") }}</td>
						<td>
							<a href="{{path('admin_chambre_show', {id: chambre.id})}}" class="btn btn-outline-primary btn-sm">Détails</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
