{% extends 'front/base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="my-4">Contactez-nous</h1>

		<p class="text">Notre priorité absolue est le bien-être de nos précieux clients. Chez nous, chaque détail est minutieusement pensé pour garantir votre confort et votre satisfaction. De nos chambres luxueuses à notre service attentionné, nous sommes dévoués à rendre votre séjour des plus agréables, inoubliables et reposants.</p>


		<div class="row">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.444579934458!2d2.2976546760571996!3d48.868800799974444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fe821564155%3A0x5d4e0a052a9108ef!2s31%20Av.%20George%20V%2C%2075008%20Paris!5e0!3m2!1sfr!2sfr!4v1694296529242!5m2!1sfr!2sfr" width="50%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="my-4 col-6"></iframe>
			<div class="w-50 p-5 col-6 mx-auto my-4">

				{# {{form_start(formContact)}}

				{{form_row(formContact.nomComplet)}}
				{{form_row(formContact.email)}}
				{{form_row(formContact.message)}}
				<div class="form-group">
					<button type="submit" class="btn btn-primary my-4">Envoyez</button>
				</div>
				{{form_end(formContact)}} #}
			</div>
		</div>


	</div>


{% endblock %}