<div class="col">
	<div class="card shadow">
		<img src="{{ asset("/uploads/" ~ chambre.image)|imagine_filter('small_size') }}" class="card-img-top" alt="{{ chambre.titre }}">
		<div class="card-body">
			<h5 class="card-title">{{chambre.titre}}</h5>
			<p class="card-text">{{ chambre.description|u.truncate(150, '...', false)}}</p>
			<p class="card-text fw-bold">{{ chambre.prixJournalier }}
				€/jour</p>
			<a href="{{ path('chambre_show', {'id': chambre.id}) }}" class="btn btn-outline-primary">Voir details</a>
		</div>
	</div>
</div>
