<p class="d-inline-flex gap-1">
	<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		Réservation
	</button>
</p>
<div class="collapse" id="collapseExample">
	<h5 class="col-4">{{ chambre.prixJournalier }}&euro; /Nuit</h5>
	<div class="col-6">
		{{ form_start(formReservation) }}
		{{ form_errors(formReservation) }}

		<div class="col-4">
			{{ form_row(formReservation.checkingAt) }}
		</div>
		<div class="col-4">
			{{ form_row(formReservation.checkoutAt) }}
		</div>
		{{ form_row(formReservation.nom) }}
		{{ form_row(formReservation.prenom) }}
		{{ form_row(formReservation.personneNumber) }}
		{{ form_row(formReservation.email) }}
		{{ form_row(formReservation.phone) }}
		<button type="submit" class="btn btn-primary my-4">Reservez</button>

		{{ form_end(formReservation) }}
	</div>
</div>
