<p class="d-inline-flex gap-1">
	<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		Réservation
	</button>
</p>
<div class="collapse" id="collapseExample">
	<h5 class="col-4">{{ chambre.prixJournalier }}&euro; /Nuit</h5>
	<div class="col-6">
		{{ form_start(formChambre) }}
        {{ form_errors(formChambre) }}

		<div class="col-4">
		{{ form_row(formChambre.checkingAt) }}
		</div>
		<div class="col-4">
		{{ form_row(formChambre.checkoutAt) }}
		</div>
		{{ form_row(formChambre.nom) }}
		{{ form_row(formChambre.prenom) }}
		{# {{ form_label(formChambre.personneNumber, 'Nombre de personne') }}
		{{ form_widget(formChambre.personneNumber) }} #}
		{{ form_row(formChambre.personneNumber) }}
		{{ form_row(formChambre.email) }}
		{{ form_row(formChambre.phone) }}
		<button type="submit" class="btn btn-primary my-4">Reservez</button>
		{{ form_end(formChambre) }}
	</div>
</div>
