{% extends 'front/base.html.twig' %}

{% block title %}Detail de chambre
{% endblock %}

{% block body %}

	<div class="position-relative">
		<img class="card-img" src="{{ asset("/uploads/" ~ chambre.image) }}"></img>
	<div class="position-absolute top-50 start-50 translate-middle text-center">
		<h1 class="text-light fw-bold">Chambre "{{ chambre.titre }}"</h1>
	</div>
</div>

<div class="container mt-4">

	<div class="row">
		<div class="col">
			<img src="{{asset('img/bath.jpg')}}" alt="" width="600">
		</div>
		<div class="col">
			<img src="{{asset('img/shower.jpg')}}" alt="" width="600">
		</div>
	</div>

	<div class="mt-4">
		<h3>Description</h3>
		<p class="col-4">{{ chambre.description }}</p>
	</div>


	<div class="mt-4">
		<h3>Ce que propose cette chambre</h3>
		<p class="col-4">{{ chambre.description }}</p>
	</div>

	<div class="mt-4">
		<h3>Tarif</h3>
	</div>

	<div class="mt-4">

		{% include "front/chambre/_form_reservation.html.twig" %}

	</div>


</div>{% endblock %}
