<footer class="w-100 text-center text-lg-start bg-light text-muted mt-5">
	<section>
		<div
			class="container text-center text-md-start mt-5 ">
			<!-- Grid row -->
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<h4 class="text-uppercase fw-bold mb-4">
						<img src="{{asset('logo/Projet_logo.png')}}" width="150" alt="">
					</h4>
					<p>
						SUN&FUN offre une escapade unique, favorisant la détente, le bien-être, et la contribution à la préservation des animaux de ferme.
					</p>
				</div>

				<div
					class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Menu
					</h6>
					<p>
						<a href="{{path('home')}}" class="text-reset">Accueil</a>
					</p>
					<p>
						<a href="{{path('page_environnement')}}" class="text-reset">Notre environnement</a>
					</p>
					<p>
						<a href="{{path('chambre_index')}}" class="text-reset">Chambres</a>
					</p>
				</div>

				<div
					class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						A propos
					</h6>
					<p>
						<a href="{{path('page_contact')}}" class="text-reset">Contactez-nous</a>
					</p>
					<p>
						<a href="{{path('page_mention_legal')}}" class="text-reset">Mentions Légales</a>
					</p>

				</div>

				<div
					class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
					<p>
						<a href="mailto:sunandfun.chambre@gmail.com" >sunandfun.chambre@gmail.com</a>
					</p>
					<p>
						xx Av. L'adresse, xxxxx Ville</p>
					<p>
						+ 33 7 52 67 81 80</p>
					<p>
						+ 33 1 23 57 89 90</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Copyright -->
	<div class="text-center text-reset p-4 border-top" style="background-color: rgb(255, 255, 255);">
		© 2024 Copyright:
		<a class="text-reset fw-bold" target="_blank" href="{{asset('files/cv.pdf')}}">Tarik_B</a>
	</div>
	<!-- Copyright -->
</footer>
