{% extends 'front/base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<section id="video" class="position-relative">
		<video autoplay loop muted class="d-block w-100" src="{{asset("video/home-video.mp4")}}"></video>
		<div class="position-absolute top-50 start-50 translate-middle text-center">
			<h1 class="text-light fw-bold">Sun and Fun</h1>
			<p class="text-light wf-bolder">Chambre d'hôtes</p>
			{% if app.user %}
				<h3 class="text-light fst-italic">"Hello
					{{ app.user.prenom }}
					!"</h3>
			{% else %}
				<a href="{{ path('chambre_index')}}" class="btn btn-outline-light rounded-pill">Découvrez nos chambres</a>
			{% endif %}
		</div>
	</section>

	<section class="container mt-4">
		<h2 class="text-center mt-4">A propos de nous</h2>
		<hr>
		<div class="row">
			<div class="col">
				<p>Bienvenue à notre maison d'hôtes au Maroc, un havre chaleureux où l'hospitalité rencontre la sérénité. Nichée au cœur d'une ferme pittoresque, notre demeure vous offre bien plus qu'un simple séjour ; elle propose une immersion totale dans une expérience marocaine authentique. Au réveil, le chant des oiseaux et le doux murmure des animaux de notre ferme vous accueilleront, créant une atmosphère paisible propice à la détente. Notre environnement est un véritable paradis pour les amateurs de randonnées, offrant des paysages à couper le souffle, des sentiers sinueux à explorer, et la possibilité de se reconnecter avec la nature. Les repas, préparés avec amour et soin, sont une célébration de la cuisine traditionnelle marocaine, régalant vos papilles de saveurs exquises. Notre maison d'hôtes est bien plus qu'un simple lieu d'hébergement ; c'est un sanctuaire où vous pouvez vous libérer du stress de la vie urbaine, embrasser la tranquillité et vivre l'authenticité marocaine dans toute sa splendeur.</p>
			</div>
			<div class="col">
				<img src="{{asset('img/apropo.jpg')|imagine_filter('small_size')}}" alt="" width="600">
			</div>
		</div>
		<h2 class="text-center mt-4">Nos animaux</h2>
		<hr>
		<div class="row">
			<p class="text-center">Notre ferme est un refuge chaleureux pour des êtres qui ont traversé des épreuves difficiles. Tous nos animaux de ferme ont été recueillis auprès d'associations dévouées ou ont été sauvés de situations délicates, leur offrant ainsi une seconde chance bien méritée. Chaque membre de notre joyeuse famille animale a une histoire poignante de résilience, de survie et de rétablissement. À notre ferme, ces amis à plumes et à sabots sont entourés d'amour, de soins attentifs et de vastes espaces où ils peuvent prospérer.</p>
			<div class="col">
				<img src="{{asset('img/gots.jpg')}}" alt="" width="300">
			</div>
			<div class="col">
				<img src="{{asset('img/cow.jpg')}}" alt="" width="300">
			</div>
			<div class="col">
				<img src="{{asset('img/cat.jpg')}}" alt="" width="300">
			</div>
			<div class="col">
				<img src="{{asset('img/dunkey.jpg')}}" alt="" width="300">
			</div>
		</div>
	</section>

{% endblock %}
