{% extends 'front/base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<section id="video" class="position-relative">
		<video autoplay loop muted class="d-block w-100" src="{{asset("video/home-video.mp4")}}"></video>
		<div class="position-absolute top-50 start-50 translate-middle text-center">
			<h1 class="text-light fw-bold">Sun and Fun</h1>
			<p class="text-light wf-bolder">Chambre d'hôtes</p>
			{% if app.user %}
				<h3 class="text-light fst-italic">"Hello
					{{ app.user.prenom }}
					!"</h3>
			{% else %}
				<a href="{{ path('chambre_index')}}" class="btn btn-outline-light rounded-pill">Découvrez nos chambres</a>
			{% endif %}
		</div>
	</section>

	<section class="container mt-4">
		<h2 class="text-center mt-4">Avis</h2>
		<hr>
		{% for comment in comments %}

			{{ comment.nomComplet }}
			{{ comment.contenu }}
			{{ comment.createdAt|date("d/m/Y H:i") }}
			
		{% endfor %}
	</section>

{% endblock %}
