{% extends "admin/base.html.twig" %}

{% block title %}Sun and Fun | backOffice
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Bonjour !</h1>
		<h2>Bienvenue dans la plateforme de gestion des tâches !</h2>
		<div class="card mb-3 mt-4" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{ asset('img/user.jpg') }}" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Utilisateurs</h5>
						<p class="card-text">Bienvenue dans l'espace dédié à la gestion des utilisateurs.
						</p>
						<a href="{{ path('admin_user_index') }}" class="btn btn-primary">Gestion des utilisateurs</a>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{ asset('img/chamber.jpg') }}" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Chambres</h5>
						<p class="card-text">Bienvenue dans l'espace dédié à la gestion des chambres.
						</p>
						<a href="{{ path('admin_chambre_index') }}" class="btn btn-primary">Gestion des Chambres</a>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{ asset('img/reser.jpg') }}" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Réservations</h5>
						<p class="card-text">Bienvenue dans l'espace dédié à la gestion des réservation.
						</p>
						<a href="#" class="btn btn-primary">Gestion des réservations</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
